header, footer {
    padding: .5rem 18rem;
}

.site-header {
    background-color: #1f2937;
    padding: 1rem 18rem;
    color: white;

    .nav {
        display: flex;
        gap: 1.5rem;

        .nav-link {
            color: white;
            text-decoration: none;
            padding: .5rem;

            &.right {
                  margin-left: auto;
            }

            &.active {
                font-weight: bold;
                border-bottom: 2px solid #38bdf8;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
}

.content-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    min-height: 70vh;
}

.site-footer {
    background-color: #f3f4f6;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #6b7280;
}


@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }
}